@font-face {
    font-family: 'icomoon';
    src: url('./icomoon/fonts/icomoon.eot?mlkkjs');
    src: url('./icomoon/fonts/icomoon.eot?mlkkjs#iefix') format('embedded-opentype'), url('./icomoon/fonts/icomoon.ttf?mlkkjs') format('truetype'), url('./icomoon/fonts/icomoon.woff?mlkkjs') format('woff'), url('./icomoon/fonts/icomoon.svg?mlkkjs#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="lyeditor-"],
[class*=" lyeditor-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lyeditor-close:before {
    content: "\f00d";
}

.lyeditor-remove:before {
    content: "\f00d";
}

.lyeditor-times:before {
    content: "\f00d";
}

.lyeditor-trash-o:before {
    content: "\f014";
}

.lyeditor-terminal:before {
    content: "\f120";
}

.lyeditor-header:before {
    content: "\f1dc";
}

.lyeditor-paint-brush:before {
    content: "\f1fc";
}

.lyeditor-pencil2:before {
    content: "\e906";
}

.lyeditor-image:before {
    content: "\e90d";
}

.lyeditor-play:before {
    content: "\e912";
}

.lyeditor-location:before {
    content: "\e947";
}

.lyeditor-undo:before {
    content: "\e965";
}

.lyeditor-redo:before {
    content: "\e966";
}

.lyeditor-quotes-left:before {
    content: "\e977";
}

.lyeditor-list-numbered:before {
    content: "\e9b9";
}

.lyeditor-list2:before {
    content: "\e9bb";
}

.lyeditor-upload2:before {
    content: "\e9c6";
}

.lyeditor-link:before {
    content: "\e9cb";
}

.lyeditor-happy:before {
    content: "\e9df";
}

.lyeditor-cancel-circle:before {
    content: "\ea0d";
}

.lyeditor-font:before {
    content: "\ea5c";
}

.lyeditor-text-height:before {
    content: "\ea5f";
}

.lyeditor-bold:before {
    content: "\ea62";
}

.lyeditor-underline:before {
    content: "\ea63";
}

.lyeditor-italic:before {
    content: "\ea64";
}

.lyeditor-strikethrough:before {
    content: "\ea65";
}

.lyeditor-page-break:before {
    content: "\ea68";
}

.lyeditor-table2:before {
    content: "\ea71";
}

.lyeditor-paragraph-left:before {
    content: "\ea77";
}

.lyeditor-paragraph-center:before {
    content: "\ea78";
}

.lyeditor-paragraph-right:before {
    content: "\ea79";
}

div,
ul,
li,
a,
img,
p,
span,
form {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.none {
    display: none;
}

a {
    text-decoration: none;
    color: #333;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.addtree_content {
    border: 1px solid #999;
    overflow: hidden;
    background-color: #fff;
}
.addtree_content .l-clear {
    clear: both;
    *zoom: 1;
}
  
.addtree_content .l-clear:after {
    content: '\20';
    clear: both;
    *zoom: 1;
    display: block;
    height: 0;
}
.addtree_content .addtree_content_ops {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999;
    /* overflow: hidden; */
}

.addtree_content>.addtree_content_ops>ul>.ops {
    float: left;
    padding: 0 10px;
    position: relative;
    font-size: 12px;
}

.addtree_content>.addtree_content_ops>ul>.ops.right {
    float: right;
}

.addtree_content .ishtml>.ops>.ops_a {
    color: #999;
}

.addtree_content .ops:nth-child(2)>.ops_a {
    color: inherit;
    font-weight: bold;
}

.addtree_content .ops_zi {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    border: 1px solid #eee;
    background: #fff;
}

.addtree_content .ops_zi>.ops {
    border-bottom: 1px solid #eee;
    padding: 0 15px;
    padding: 6px 15px;
    line-height: 1;
}

.addtree_content .ops_zi h1,
.addtree_content .ops_zi h2,
.addtree_content .ops_zi h3,
.addtree_content .ops_zi h4,
.addtree_content .ops_zi h5 {
    margin: 0;
}

.addtree_content .ops_zi.active {
    display: block;
}

.addtree_content .addtree_content_cont {
    height: 233px;
    padding: 20px;
    line-height: 1.8;
    font-size: 16px;
    color: #999;
    overflow-y: auto;
    clear: both;
}

.addtree_content .addtree_content_cont img {
    max-width: 80% !important;
    display: block;
}